
REDIS_URL=redis://:redis_pass@localhost:6379
ADMIN_CORS=http://localhost:7001
STORE_CORS=http://localhost:8080
REDIS_PASSWORD=pswrd
POSTGRES_USER=name
POSTGRES_PASSWORD=pswrd
POSTGRES_DB=dbname
DATABASE_URL=postgres://name:pswrd@localhost:5432/dbname
