build/
dist/
pgdata/

node_modules/
npm-debug.log*
pnpm-debug.log*

build/
dist/

pgdata/
redisdata/

.env
.env.*
./backend/.env.template
!.env.example
!.env.template
./backend/.env.template

.vscode/
.idea/

